* {
  box-sizing: border-box;
}

html, body {
  background-image: linear-gradient(-90deg, rgb(77, 90, 211), rgb(25, 40, 71));
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  border-radius: 8px;
  background-color: rgb(228, 212, 212);
}

.center {
  align-self: center;
}

.flow-right {
  display: flex;
  justify-content: space-around;
}

.btn {
  background-color: rgb(223, 223, 223); 
  color: black;
  transition-duration: 0.4s;
  border-radius: 8px;
  padding: 5px 10px;
  text-align: center;
  font-size: 15px;
  float:right
}


.btn:hover {
  background-color: RED; /* Green */
  color: white;
  border: 2px solid rgb(0, 0, 0)
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 10px;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

 .button {
  flex: none;
}
.controls{
  flex:none;
  border-radius: 8px;
  color : rgb(255, 251, 37);
  padding: 20px 0px;
  font-size : 20px;
}
.title{
  padding: 10px 150px;
  border-radius: 8px;
  background-image: linear-gradient(-90deg, rgb(136, 141, 187), rgb(26, 64, 139));
  color : rgb(255, 80, 80);
  text-shadow: 1px 2px;
}
.button {
  padding: 10px 20px;
  border-radius: 8px;
  background-color : rgb(15, 238, 71)
}
.button:hover {
  background-color: rgba(44, 65, 252, 0.945); /* Green */
  color: white;
  border: 2px solid rgb(0, 0, 0)
}

.todo-list {
  flex: 1 1 0;
  margin-top: 20px;
  padding: 20px;
  overflow-y: auto;
}

.todo-delete {
  margin: 10px;
}

.todo-checkbox {
  margin: 10px;
}

.todo-container {
  padding: 10px;
  background-image: linear-gradient(100deg, rgb(77, 90, 211), rgb(25, 40, 71));

  border-radius: 10px;
  border-bottom: 3px solid #333;
}

.todo-container:first-of-type {
  border-top: 1px solid #333;
}
